<div class="cards-wrapper">

<ng-container [ngSwitch]="tipo">
  <!-- Card de Evento -->
  <div class="card-container" *ngSwitchCase="'evento'">

    <div class="card-content">
      <div class="card-date">
      </div>

      <div class="card-info">
        <h3>{{ titulo }}</h3>
        <p class="horario">🕒 {{ horario }}</p>
        <p class="local">📍 {{ local }}</p>
      </div>
    </div>
  </div>

  <!-- Card para adicionar novo evento -->
  <div class="card-container novo-card" *ngSwitchCase="'novo'">
    <button>➕ ADICIONAR NOVA CONTA</button>
  </div>
</ng-container>
</div>